/*
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait) {
  height: 100px;
}
@media only screen
and (min-width : 320px)
and (max-width : 518px) {
  display: none;
}
*/

@import 'nav-toggle';

html {

}

body {
  margin: 0;
}

#pp-logo {
  min-height: 142px;
  min-width: 500px;
  background: white url(../images/pp-logo.png) no-repeat 0 0;
  background-size: 100%;
  @media only screen
  and (min-width : 320px)
  and (max-width : 518px) {
    min-height: 68px;
    min-width: inherit;
    background-size: auto 68%;
  }

}

#content {
  width: 1024px;
}
#col-left {
  border: 1px solid red;
  float: left;
  width: auto;
  @media only screen
  and (min-width : 320px)
  and (max-width : 518px) {
    width: 100%;
    float: none;
  }
}
#col-right {
  border: 1px solid blue;
  float: right;
  width: 20%;
  min-width: 316px;
  @media only screen
  and (min-width : 320px)
  and (max-width : 518px) {
    width: 100%;
    float: none;
  }
}