
$btn-color: #67154f;
$btn-a-color: #3d1d7f;
$btn-b-color: #ff8400;
$btn-c-color: #046b8d;

$h2-color: #3d1d7f; // purple
$h3-color: #566770;
$body-color: #434343;
$link-color: #bfd53d; // green
$nav-link-color: #656565;

/*
16px = 1em
14px = 0.875em
13px = 0.813em
12px = 0.750em
24px = 1.5em
*/

/*
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait) {
  height: 100px;
}
@media only screen
and (min-width : 320px)
and (max-width : 518px) {
  display: none;
}
*/

//@import 'bootstrap';
@import 'nav-toggle';

html {
  font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
  font-size: 100%;
  color: $body-color;
  * {
    box-sizing: border-box;
  }

  overflow: hidden;
  height: 100%;
}

body {
  margin: 0;
}

.clearFix:before,
.cf:after {
  content: " ";
  display: table;
  width: 100%;
}
.clearFix:after {
  clear: both;
}

UL {
  margin:0;
  padding: 0;
}

h1 {
  font-size: 1em;
}

h2, h3, p {
  margin: 0;
  padding: 0;
  line-height: 1.3em;
}

h2 {
  font-size: 1.5em;
  color: $h2-color;
}
h3 {
  font-size: 12px;
  color: $h3-color;
  line-height: 1.5em;
}

#pp-logo {
  max-height: 142px;
  min-height: 142px;
  max-width: 500px;

  @media only screen
  and (max-width: 860px)
  and (min-width: 320px) {
    max-width: 100%;
    min-height: 0;
    width: 60%;
  }

}

#content {
  max-width: 1024px;
  width: auto;
  margin: 0 auto;

  @media only screen
  and (max-width: 768px) {
    min-width: 0;
    max-width: 768px;
    //border: 1px solid yellow;
  }
  @media only screen
  and (max-width : 320px) {
    width: auto;
    margin: 10px;
  }
  @media only screen
  and (min-width : 320px)
  and (max-width : 518px) {
    width: auto;
  }
}

#col-left {
  //border: 1px solid red;
  float: left;
  width: 65%;
  margin-left: 14px;
  @media only screen
  and (max-width: 1024px)
  and (min-width: 860px) {
    width: 65%;
  }

  @media only screen
  and (max-width: 860px)
  and (min-width: 600px) {
    width: 60%;
  }
  @media only screen
  and (max-width: 600px) {
    width: auto;
    margin: 14px;
    float: none;

    h1 {
      font-size: .7em;
    }

    h2 {
      font-size: 1em;
    }
  }

  @media only screen
  and (max-width : 320px) {
    width: 100%;
    float: none;
    padding: 0;
    margin: 0;
  }


  #main-nav {
    display: inline-block;
    float: left;
    letter-spacing: -0.2px;
    margin-bottom: 14px;
    width: 100%;

    //border: 1px solid red;

    @media only screen
    and (max-width: 600px) {
      display: none;
    }
    @media only screen
    and (max-width : 320px) {
      display: none;
    }
    ul {
      border-bottom: 1px solid $link-color;
      padding: 2px 0 0 0;
      width: 100%;
      //display: inline-block;
      flex-flow: row nowrap;
      justify-content: space-between;
      display: flex;
      align-items: center;
    }
    li {
      list-style: none;
      margin: 0 15px;
      display: inline-block;
      text-align: center;
      vertical-align: middle;
      @media only screen
      and (max-width: 768px) {
        width: 68px;
        &:first-of-type {
          width: auto;
        }
      }

      a {
        display: inline-block;
        font-size: 0.813em;
        color: $nav-link-color;
        text-decoration: none;
        padding: 9px 0;
        &:hover {
          color: $h3-color;
        }
      }
      &.selected a {
        color: $link-color;
      }
      &:first-child {
        margin-left: 0;
      }

      &.dropdown-container {
        position: relative;
        a.dropdown-toggle {
          &:after {
            display: inline-block;
            width: 0;
            height: 0;
            margin-left: 4px;
            margin-bottom: 3px;
            vertical-align: middle;
            border-top: 4px solid;
            border-right: 4px solid transparent;
            border-left: 4px solid transparent;
            position: absolute;
            top: 43%;
            right: -14px;
            content: '';
          }
        }
        .dropdown {
          position: absolute;
          //display: none;
          overflow:hidden;
          height: 0;
          background-color: white;
          min-width: 118px;
          border: 1px solid #bfd53d;
          border-top: none;
          border-radius: 3px;
          -webkit-transition: height .4s ease;
          .dropdown-menu {
            display: block;
            border: none;
            li, li a {
              margin: 0;
              width: 100%;
              white-space: nowrap;
              &:focus {
                outline: none;
              }
            }
          }
          &.open {
            //display: block;
            height: 77px;
          }
        }
      }
    }
  }


  h2 {
    max-width: 602px;
    text-transform: uppercase;
  }
}
#col-right {
  //border: 1px solid blue;
  float: right;
  width: 30%;
  //min-width: 311px;
  //margin-right: 20px;
  margin: 0 14px;

  @media only screen
  and (max-width: 1024px)
  and (min-width: 860px) {
    min-width: 228px;
  }

  @media only screen
  and (max-width: 600px) {
    width: auto;
    float: none;
    #buttonBlock {
      display: none;
    }
  }
  @media only screen
  and (max-width : 320px) {
    width: auto;
    float: none;
  }
}


#buttonBlock {
  float: right;
  text-align: right;
  width: 100%;
  margin-bottom: 1em;

  .btn {
    float: left;
    width: 40%;
    min-width: 108px;
    margin-bottom: 1em;
  }
  .btn-a {
    margin-left: 10px;
    float: right;
  }

  @media only screen
  and (max-width: 866px)
  and (min-width: 320px) {
    text-align: center;
    .btn,
    .btn-a {
      margin: 0;
      float: none;
    }
    .btn {
      float: none;
      display: block;
      margin: 0 auto 1em;
    }
  }
}


.btn {
  background: $btn-color url('../images/btn-bg.png') repeat-x 0 100%;
  border: none;
  display: inline-block;
  height: 35px;
  width: auto;
  text-align: center;
  font-size: 0.813em;
  line-height: 2.2em;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 8px;
  &:hover,
  &:focus {
    background-color: lighten( $btn-color, 10% );
    outline: none;
  }
  &:active {
    background-color: lighten( $btn-color, 30% );
    outline: none;
  }
}

.btn-a {
  @extend .btn;
  background-color: $btn-a-color;
}
.btn-b {
  @extend .btn;
  background-color: $btn-b-color;
}
.btn-c {
  @extend .btn;
  background-color: $btn-c-color;
}

#submit {
  width: 100%;
  clear: both;
  border: 1px solid #c8c8ca;
  position: relative;
  margin-bottom: 2em;
  h2 {
    background: white;
    position: absolute;
    top: -16px;
    left: 11px;
    padding: 0 6px;
  }
}

#formDiv {
  width: 100%;
  margin: 35px 0;
}

form {
  margin: 7px 0px;

  label {
    float: left;
    font-weight: bold;
    font-size: 11px;
    width: 78px;
    text-align: right;
    padding: 4px 0 0 10px;
  }
  input {
    margin: 0 6px 12px 10px;
    width: 60%;
  }
  @media only screen
  and (min-width: 320px)
  and (max-width: 866px) {
    label {
      float: none;
      display: block;
      font-weight: bold;
      font-size: 11px;
      width: auto;
      text-align: left;
      padding: 4px 14px;
    }

    input {
      margin: 0 0 12px 14px;
      width: 86%;
      border-radius: 0;
    }
  }

  @media only screen
  and (max-width: 600px) {
    input {
      width: 92%;
    }
  }

  @media only screen
  and (max-width : 320px) {
    input {
      width: 89%;
    }
  }

  input.submitButton {
    width: auto;
    float: right;
    margin-top: 1px;
    margin-right: -1px;
  }
}
#emailError {
  display: none;
  text-align: right;
  margin: -10px 0 10px;
  color: #B94A48;
}

#jobsWidget {
  h3 {
    font-weight: bold;
    font-size: 1em;
    color: #566770;
  }
  p {
    font-weight: normal;
    font-size: 1em;
    color: #434343;
  }
}

#job-listings {
  position: relative;
  ul {
    overflow: hidden;
    overflow-y: auto;
    margin-bottom: 1em;
  }
  h2 {
    margin-top: 1.3em;
    margin-bottom: .3em;
  }
  @media only screen
  and (max-width: 600px) {
    height: 242px;
    padding-bottom: 330px;
    margin-bottom: 2em;
    ul {
      height: inherit;
      overflow: hidden;
      overflow-y: scroll;
    }
    h2 {
      margin-top: .5em;
    }
  }
  li {
    list-style: none;
  }
  p {
    margin-bottom: 1em;
    font-size: .750em;
  }
}

#seealljobs {
  float: right;
}

.learnmore {
  a {
    color: $link-color;
    text-decoration: none;
    font-size: .875em;
    &:hover {
      text-decoration: underline;
    }
  }
}

.more,
.submitButton {
  float: right;
}


.blog {

  h2 {
    margin: 0 0 9px 0;
    letter-spacing: 1.3px;
    span {
      font-size: .8em;
    }
  }

  .entry-title {
    margin: 0;
    a {
      color: $h3-color;
      font-size: 1em;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  p {
    font-size: .750em;

    a {
      text-decoration: none;
      color: $link-color;
      display: inline-block;
      margin-bottom: 2em;
    }

    span.meta-nav {
      display: none;
      //text-decoration: inherit;
    }

  }

  &.full-page {
    padding-bottom: 64px;
    .digg_digg {
      display: none;
    }
  }
}


#follow-list {
  margin-left: 13px;

  li {
    float: left;
    position: relative;
    margin-right: 17px;
    zoom: 1;
    display: inline;
  }
  li:last-child {
    margin-right: 0;
  }
  li .follow-div {
    margin: 0;
    padding: 0;
    width: 33px;
    height: 38px;
  }
  li a {
    display: block;
    width: 33px;
    height: 38px;
    text-indent: -9999px;
    background: url('../images/sprite3.png');
  }
  li a#follow-lnkd {
    background-position: 0 0;
  }
  li a#follow-twtr {
    background-position: -33px 0;
  }
  li a#follow-fb {
    background-position: -66px 0;
    width: 32px;
  }
}