
/*! responsive-nav.js 1.0.32 by @viljamis */

.nav-collapse {
  display: none;
}
@media only screen
and (min-width : 0px)
and (max-width : 600px) {
  display: none;

  .nav-collapse ul {
    margin: 0 0 0 10px;
    padding: 0;
    width: 100%;
    display: block;
    list-style: none;
  }
  .nav-collapse * {
    box-sizing: border-box;
  }
  .nav-collapse li {
    width: 100%;
    display: block;
    float: left;
    a {
      text-transform: uppercase;
      font-weight: 400;
      font-size: 112.5%;
      letter-spacing: 2px;
      line-height: 1em;
      color: white;
      text-decoration: none;
      width: 100%;
      background: $h3-color;
      border-bottom: 1px solid white;
      padding: .5em 1em;
      float: left;
    }
  }

  .js .nav-collapse {
    clip: rect(0 0 0 0);
    max-height: 0;
    position: absolute;
    display: block;
    overflow: hidden;
    zoom: 1;
  }

  .nav-collapse.opened {
    max-height: 9999px;
    /*margin: -10px -10px 10px -10px;*/
  }

  .disable-pointer-events {
    pointer-events: none !important;
  }

  .nav-toggle {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    float: right;
    text-indent: -9999px;
    overflow: hidden;
    display: block;

    //border: 1px solid #374C77;
    border-radius: 3px 3px 3px 3px;
    cursor: pointer;
    height: 24px;
    padding: 3px 3px 3px 5px;
    margin: 5px 7px 0 0;
    position: relative;
    width: 25px;
    background: $link-color;
    background: -moz-linear-gradient(top, $link-color 0%, $link-color 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $link-color), color-stop(100%, $link-color));
    background: -webkit-linear-gradient(top, $link-color 0%, $link-color 100%);
    background: -o-linear-gradient(top, $link-color 0%, $link-color 100%);
    background: -ms-linear-gradient(top, $link-color 0%, $link-color 100%);
    background: linear-gradient(to bottom, $link-color 0%, $link-color 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$link-color', endColorstr='$link-color', GradientType=0);
    div {
      background-color: #fff;
      border: 1px solid #eee;
      border-radius: 2px 2px 2px 2px;
      height: 2px;
      margin-top: 3px;
      width: 90%;
    }
  }

  @media screen and (min-width: 684px) {
    .js .nav-collapse {
      position: relative;
    }
    .js .nav-collapse.closed {
      max-height: none;
    }
    .nav-toggle {
      display: none;
    }
  }
}
